/* General */
html, body {
    background: white;
    color: black;
}

body.mobile main {
    margin-top: 40px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.desktop button:hover {
    background-color: black;
    color: white;
}

/* User Composition Style */
.desktop #compositionName {
    margin-top: calc(50vh - 400px);
}

.mobile #compositionName {
    margin-top: 30px;
}

.mobile .composition-author-container {
    text-align: center;
}

.mobile li {
    font-family: "Jost", sans-serif;
    font-size: 30px;
}