/* General */
html, body {
    background: white;
    color: black;
}

body.mobile main {
    margin-top: 40px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.desktop button:hover {
    background-color: black;
    color: white;
}

/* User Composition Style */
#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.desktop #compositionName {
    padding-top: calc(50vh - 400px);
}

.mobile #compositionName {
    margin-top: 30px;
}

.mobile .composition-author-container {
    text-align: center;
}

.mobile li {
    font-family: "Jost", sans-serif;
    font-size: 30px;
}

.desktop p {
    font-size: 20px;
    margin: 10px 0;    
}

.desktop ul {
    padding-left: 18px;
    margin-bottom: 20px;
}

.desktop li {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.buttons-container {
    display: flex;
    align-items: center;
}