@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: row;
}

canvas {
  display: block;
  border: 3px solid white;
}

#mainContainer {
  display: table;
  margin: 0 auto;
  height: 800px;
  transform: translateY(calc(50vh - 400px));
}

h1 {
  font-size: 70px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

body.mobile h1 {
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: italic;
  margin: 40px 0;
}

body.mobile p {
  font-weight: 400;
}

/* Buttons */
button {
  position: relative;
  height: 38px;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 200;
  color: black;
  padding: 0;
  margin: 6px 20px 0 0;
  background: white;
  border: none;
  transition: background 100ms;
  cursor: pointer;
}

button:not([disabled]):hover {
  color: #ff00f2;
}

button[disabled] {
  color: grey;
  cursor: default;
}

button[disabled]:hover:after {
  /* position: absolute; */
  font-size: 14px;
  color: black;
  /* top: 0; */
  /* left: calc(100% + 20px); */
  /* width: 205px; */
  /* padding: 4px; */
} 


button[disabled]:not(.disabled-not-saved):hover:after {
  content: "(Sign in to use this feature)";
}

button[disabled].disabled-not-saved:hover:after {
  content: "(Save the composition to use this feature)";
}

body.mobile button {
  display: table;
  width: 200px;
  height: 100px;
  text-align: center;
  font-family: "Jost", sans-serif;
  color: black;
  margin: 20px auto;
}

body.mobile #stateButton {
  display: none;
}

/* Left Bar */
#leftBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  background: white;
  border-right: 1px solid black;
}

#leftBar p {
  margin: 0;
}

/* User Login */
#loginContainer {
  margin-bottom: 52px;
}

/* User Info */
#userContainer p {
  margin: 3px 0 3px 8px;
}

/* Sketch Name */
#sketchNameContainer {
  display: flex;
  flex-direction: row;
  margin: 40px 0 20px;
}

#sketchNameContainer p {
  margin: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#editName {
  text-align: center;
  margin-left: 4px;
}

#sketchNameInput {
  width: 400px;
  height: 38px;
  padding-left: 9px;
  margin: 4px 0 3px -10px;
  box-sizing: border-box;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

#sketchNameInput:focus-visible {
  outline: none;
}

#buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#buttonsContainer button {
  width: auto;
  text-align: left;
}

#buttonsContainer button.saving {
  animation: buttonColorChange 1s infinite alternate;
  pointer-events: none;
}

@keyframes buttonColorChange {
  0% {
    color: black;
  }
  100% {
    color: #ff00f2;
  }
}

#buttonsContainer button .popup-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#leftBar a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: color 100ms;
  z-index: 1;
}

#leftBar a:hover {
  color: #ff00f2;
}

#leftBar #userPhoto {
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}

#leftBar #info {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 8px 0;
  border: 1px solid black;
  font-weight: bold;
}

#leftBar #info:hover {
  background: black;
  color: white;
}

/* Saved Sketches */
#noSavedSketches {
  padding: 4px;
}
.saved-sketch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 4px 10px;
  cursor: pointer;
}

.saved-sketch:hover {
  background: black;
  color: white;
}

.saved-sketch .sketch-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.saved-sketch:hover .sketch-name {
  max-width: calc(100% - 24px);
}

.saved-sketch:first-of-type:hover:after {
  content: "";
  position: absolute;
  left: -20px;
  border: 10px solid transparent;
  border-right-color: black;
  z-index: 2;
}


#buttonsContainer .saved-sketch .delete-button {
  display: none;
  width: 24px;
  height: auto;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

#buttonsContainer .saved-sketch .delete-button img {
  width: 100%;
  filter: invert(1);
}

#buttonsContainer .saved-sketch .delete-button:hover img {
  filter: invert(34%) sepia(100%) saturate(7463%) hue-rotate(292deg) brightness(101%) contrast(106%);
}

#buttonsContainer .saved-sketch:hover .delete-button {
  display: flex;
}


/* Popups */
.popup-wrapper {
  position: relative;
}

.popup {
  display: none;
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  background: white;
  color: black;
  font-weight: 200;
  text-align: left;
  z-index: 2;
}

.popup.show {
  display: block;
}

/* Popup opens Bottom */
.popup.bottom {
  top: calc(100% + 4px);
  left: calc(50% - 15px);
}

.popup.bottom:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 4px;
  border: 10px solid transparent;
  border-bottom-color: black;
}

.popup.bottom:after {
  content: "";
  position: absolute;
  top: -18px;
  left: 5px;
  border: 9px solid transparent;
  border-bottom-color: white;
}

/* Popup opens Left */
.popup.left {
  left: calc(100% + 12px);
}

.popup.left.align-top {
  top: 4px;
}

.popup.left.align-bottom {
  bottom: 0;
}

.popup.left:before {
  content: "";
  position: absolute;
  left: -20px;
  border: 10px solid transparent;
  border-right-color: black;
}

.popup.left:after {
  content: "";
  position: absolute;
  left: -18px;
  border: 9px solid transparent;
  border-right-color: white;
}

.popup.left.align-top:before {
  top: 4px;
}

.popup.left.align-top:after {
  top: 5px;
}

.popup.left.align-bottom:before {
  bottom: 8px;
}

.popup.left.align-bottom:after {
  bottom: 9px;
}

/* Open Sketch Popup */
#openSketchPopup {
  width: 320px;
  padding: 0;
}

#savedSketchesContainer {
  max-height: calc(100vh - 330px);
  overflow-y: auto;
}

/* Log Out Popup */
#logOutPopup {
  padding: 4px 0;
}

#logOutPopup a {
  padding: 0 10px;
}

/* Share Popup */
#sharePopup {
  width: 200px;
  padding-top: 16px;
  padding-bottom: 0;
}

.share-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

#copyLink {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url('images/copy-icon-black.png') no-repeat;
}

#copyLink:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('images/copy-icon-pink.png') no-repeat;
  opacity: 0;
  transition: opacity 100ms;
}

#copyLink:hover:after {
  opacity: 1;
}

/* Info Popup */
#infoPopup {
  width: 700px;
  padding: 0 10px 0 0;
}

#infoContainer {
  display: flex;
  flex-direction: column;
}

/* Transport Buttons */
#transportButtonsContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#transportButtonsContainer button {
  width: 50px;
  height: 50px;
  margin: 20px 20px 0 0;
  padding: 4px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease;
}

#transportButtonsContainer button img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.play .stop-icon,
.stop .play-icon,
.drag .drag-icon,
.wander .wander-icon{
  display: none;
}

#transportButtonsContainer button:hover {
  background: black;
  color: white;
}

#transportButtonsContainer button:hover img {
  filter: invert(1);
}

/* Blocker */
#blocker {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
  z-index: 3;
}

.mobile #blocker {
  display: flex;
  align-items: center;
  justify-content: center;}

#blocker h1 {
  color: white;
  text-align: center;

}

/* Messages */
.message-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 1px solid black;
}

/* Sound Area Editor */
#soundAreaEditor {
  position: relative;
  padding: 10px;
  border: 1px dashed black;
}

#soundAreaEditor .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#soundAreaEditor .col {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

#soundAreaEditor .col:first-of-type {
  margin-right: 10px;
}

#soundAreaEditor #closeSoundAreaEditor {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 4px;
  margin: 0;
}

#soundAreaEditor #closeSoundAreaEditor img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#soundAreaEditor #closeSoundAreaEditor:hover img {
  filter: invert(34%) sepia(100%) saturate(7463%) hue-rotate(292deg) brightness(101%) contrast(106%);

}

#soundAreaEditor .nav-buttons {
  margin-right: 3px;
}

#soundAreaEditor #prevSoundArea,
#soundAreaEditor #nextSoundArea {
  width: 20px;
  height: 20px;
  margin: 3px 2px 0 0;
}

#soundAreaEditor #prevSoundArea img,
#soundAreaEditor #nextSoundArea img {
  width: 100%;
  height: 100%;
}

#soundAreaEditor #prevSoundArea:hover img,
#soundAreaEditor #nextSoundArea:hover img {
  filter: invert(34%) sepia(100%) saturate(7463%) hue-rotate(292deg) brightness(101%) contrast(106%);
}

#soundAreaEditor #soundAreaColor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}

#soundAreaEditor #soundAreaDelete {
  width: 24px;
  height: auto;
  margin: 2px 2px 0 10px;
}

#soundAreaEditor #soundAreaDelete img {
  width: 100%;
  height: 100%;
}

#soundAreaEditor #soundAreaDelete:hover img {
  filter: invert(34%) sepia(100%) saturate(7463%) hue-rotate(292deg) brightness(101%) contrast(106%);

}

#soundAreaEditor input[type="number"] {
  width: 40px;
}

#soundAreaEditor input[type="number"]:focus-visible {
  outline: none;
}

#soundAreaEditor input[type="text"] {
  width: 208px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  ;
}

#soundAreaEditor input[type="text"]:focus-visible {
  outline: none;
}

#soundAreaEditor .loop-container {
  font-size: 16px;
}

#soundAreaEditor .loop-container input[type="checkbox"] {
  margin-left: 0px;
  display: none;
}

#soundAreaEditor .loop-container label.checkbox-label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 2px;
  vertical-align: -1px;
  cursor: pointer;
}

#soundAreaEditor .loop-container label.checkbox-label img {
  width: 100%;
  height: 100%;
  display: none;
}

#soundAreaEditor .loop-container input[type="checkbox"]:checked + label.checkbox-label img {
  display: block;
}
