@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
}
canvas {
  display: block;
  border: 3px solid white;
}

body main {
  display: table;
  margin: 10px auto;
}

h1 {
  font-size: 70px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

body.mobile h1 {
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: italic;
  margin: 40px 0;
}

#sketchNameInput {
}

body.mobile p {
  font-weight: 400;
}

button {
  height: 38px;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  color: black;
  font-weight: bold;
  margin: 6px 20px 0 0;
  background: white;
  border: none;
  transition: background 100ms;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

button:active {
  background: white;
}

body.mobile button {
  display: table;
  width: 200px;
  height: 100px;
  text-align: center;
  font-family: "Jost", sans-serif;
  color: black;
  margin: 20px auto;
}

/* Sketch Name */
#sketchNameContainer {
  display: flex;
  flex-direction: row;
  width: 500px;
}

#editName {
  text-align: center;
  margin-right: 0;
}

#sketchNameInput {
  width: 400px;
  height: 38px;
  padding-left: 9px;
  margin-top: 6px;
  box-sizing: border-box;
  color: white;
  background: black;
  border: 2px solid white;
  border-left: none;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
}

#sketchNameInput:focus-visible {
  outline: none;
}

/* Top Bar */
#topBar {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
  background: black;
}

#topBar p {
  margin: 8px;
}

#topBar a:hover {
  cursor: pointer;
  background: black;
  color: white;
}

#topLeftBar {
  display: flex;
  flex-direction: row;
}

#topBar #userPhoto {
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  cursor: pointer;
}

#topBar #info {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 8px;
}

/* Saved Sketches */
.saved-sketch {
  padding: 0 10px;
  cursor: pointer;
}

.saved-sketch:hover {
  background: black;
  color: white;
}

/* Popups */
.popup-wrapper {
  position: relative;
}

.popup {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  padding: 10px;
  border: 1px solid black;
  background: white;
  color: black;
  font-weight: 200;
  text-align: left;
}

.popup.show {
  display: block;
}

.popup.left {
  left: 4px;
  top: calc(100% + 2px);
}

.popup.right {
  right: -11px;
}

.popup.center {
  left: 50%;
  transform: translateX(-50%);
}

.popup:before {
  content: "";
  position: absolute;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: black;
}

.popup.left:before {
  left: 10px;
}

.popup.right:before {
  right: 10px;
}

.popup.center:before {
  left: calc(50% - 10px);
}

.popup:after {
  content: "";
  position: absolute;
  top: -18px;
  border: 9px solid transparent;
  border-bottom-color: white;
}

.popup.left:after {
  left: 11px;
}

.popup.right:after {
  right: 11px;
}

.popup.center:after {
  left: calc(50% - 9px);
}

#infoPopup {
  width: 700px;
}

#openSketchPopup {
  width: 500px;
  padding: 10px 0;
}

#logOutPopup {
  padding: 10px 0;
}

#logOutPopup a {
  padding: 0 10px;
}
